/* Add CSS Styling */

.odd {
    background-color: #e6adaf;
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

#two {
    color: #040fe0;
    font-size: 36px;
}

#three{
    font-size: 24px;
}

#four{
    background-color: #85e885;
    font-size: 24px;
    font-weight: bold;
}